<% layout('../index') -%>
<main class="content">
  <div class="container-fluid p-0 gap-2">
    <h1 class="h3 mb-3">صفحه حسابات</h1>
    <div class="containerMonth" style="display: flex; gap: 10px">
      <input
        type="radio"
        class="form-check-input"
        value="pricerawmatrail"
        name="select"
        id="radioOne"
      />
      <label for="radioOne"> أسعار خامات </label>

      <input
        type="radio"
        class="form-check-input"
        value="orders"
        name="select"
        id="radioTwo"
      />
      <label for="radioTwo"> orders </label>
      <input
        type="radio"
        class="form-check-input"
        value="catch"
        name="select"
        id="radiothree"
      />
      <label for="radiothree"> مرتبات الشهريه </label>
      <input
        type="radio"
        class="form-check-input"
        value="presence"
        name="select"
        id="radiofour"
      />
      <label for="radiofour"> مرتبات اليوميه </label>
      <input
        class="form-control"
        type="number"
        id="Date"
        placeholder="اختر الشهر"
        style="max-width: 100px"
      />
      <input
        class="form-control"
        type="number"
        id="years"
        placeholder="اختر سنه"
        style="max-width: 100px"
      />
      <button onclick="go()" class="btn btn-primary btn-lg">go</button>
      <h3 id="total"></h3>
    </div>
    <br />
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <table class="table table-hover my-0">
              <thead id="headTable"></thead>
              <tbody id="bodyTable">
                <h2 id="alerth1" style="display: none">لايوجد فى هذا الشهر</h2>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div
  id="containerShowImg"
  style="
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  "
>
  <button
    id="ButtonCloseImg"
    style="
      position: absolute;
      top: 10px;
      right: 10px;
      border: none;
      background-color: transparent;
      font-size: 18px;
    "
  >
    x
  </button>
  <img src="" id="insertImg" style="width: 600px; height: auto" alt="" />
</div>
<script>
  let input = document.querySelectorAll("input[name='select']");
  let containerTable = document.querySelector(".card-header");
  let head = document.getElementById("headTable");
  let body = document.getElementById("bodyTable");
  function go() {
    const Dateinput = document.querySelector("#Date").value;
    const dataYears = document.getElementById("years").value;
    if (!Dateinput) {
      alert("رجاء ادخل التاريخ");
    } else {
      let selectedSize; // this is value
      for (const radioButton of input) {
        if (radioButton.checked) {
          selectedSize = radioButton.value;
          break;
        }
      }
      switch (selectedSize) {
        case "orders":
          fetchOrders(Dateinput, dataYears);
          break;
        case "pricerawmatrail":
          fetchRawmatrail(Dateinput, dataYears);
          break;
        case "catch":
          fetchCatch(Dateinput, dataYears);
          break;
        case "presence":
          fetchPr(Dateinput, dataYears);
          break;
        default:
          alert("اختر جدول");
          break;
      }
    }
    head.innerHTML = " ";
    body.innerHTML = " ";
  }
  let containerTotal = document.getElementById("total");
  function fetchOrders(DateMonth, DateYears) {
    fetch(`/orderAccounts/${DateMonth}/${DateYears}`)
      .then((res) => res.json())
      .then((resData) => {
        let total = 0;
        head.innerHTML += `
          <tr>
            <th>
              صوره العميل
            </th>
            <th>
              منتج
            </th>
            <th>
              كميه
            </th>
            <th>
              مبلغ الاجمالى
            </th>
            <th>
              تاريخ
            </th>
          </tr>
        `;
        resData["data"].forEach((item) => {
          let DataImg = item.IMG;
          let end = toBase64(DataImg.data);
          body.innerHTML += `
            <tr>
              <th>
                <img src="data:image/jpeg;base64,${atob(
                  end
                )}" onclick="resize('data:image/jpeg;base64,${atob(
            end
          )}')" style="cursor: pointer;"  width="50px" height="auto" alt="">
              </th>
              <th>
                ${item.NAME_PRODUCT}
              </th>
              <th>
                ${item.AMOUNT}
              </th>
              <th>
                ${item.PRICE}
              </th>
              <th>
                ${item.dateNow.split("T")[0]}
              </th>
            </tr>
          `;
          total += item.PRICE;
        });
        containerTotal.innerHTML = ` المبلغ الاجمالى = ${total} جنيه `;
      })
      .catch((error) => alert(error));
  }

  function fetchCatch(DateMonth, DateYears) {
    fetch(`/orderCatch/${DateMonth}/${DateYears}`)
      .then((res) => res.json())
      .then((resData) => {
        let total = 0;
        head.innerHTML += `
          <tr>
            <th>
              صوره
            </th>
            <th>
              مرتب
            </th>
            <th>
              تاريخ
            </th>
          </tr>
        `;
        resData["data"].forEach((item) => {
          let DataImg = item.IMGID;
          let end = toBase64(DataImg.data);

          body.innerHTML += `
            <tr>
              <th>
                <img src="data:image/jpeg;base64,${
                  end ? atob(end) : "انت حذفت الموظف"
                }" onclick="resize('data:image/jpeg;base64,${atob(
            end
          )}')" style="cursor: pointer;"  width="50px" height="auto" alt="">
              </th>
              <th>
                ${item.SALLAERY}
              </th>
              <th>
                ${item.dateNow.split("T")[0]}
              </th>
            </tr>
          `;
          total += item.SALLAERY;
        });
        containerTotal.innerHTML = ` المبلغ الاجمالى = ${total} جنيه `;
      })
      .catch((error) => alert(error));
  }

  function fetchPr(DateMonth, DateYears) {
    fetch(`/preCatch/${DateMonth}/${DateYears}`)
      .then((res) => res.json())
      .then((resData) => {
        let total = 0;
        head.innerHTML += `
          <tr>
            <th>
              صوره العميل
            </th>
            <th>
              مرتب يومى
            </th>
            <th>
              تاريخ
            </th>
          </tr>
        `;
        resData["data"].forEach((item) => {
          let DataImg = item.IMGID;
          let end = toBase64(DataImg.data);
          body.innerHTML += `
            <tr>
              <th>
                <img src="data:image/jpeg;base64,${
                  end ? atob(end) : "انت حذفت الموظف"
                }" onclick="resize('data:image/jpeg;base64,${atob(
            end
          )}')" style="cursor: pointer;"  width="50px" height="auto" alt="">
              </th>
              <th>
                ${item.SALLARY_EMPLOYER}
              </th>
              <th>
                ${item.dateNow.split("T")[0]}
              </th>
            </tr>
          `;
          total += item.SALLARY_EMPLOYER;
        });
        containerTotal.innerHTML = ` المبلغ الاجمالى = ${total} جنيه `;
      })
      .catch((error) => alert(error));
  }
  function fetchRawmatrail(DateMonth, DateYears) {
    fetch(`/RawCatch/${DateMonth}/${DateYears}`)
      .then((res) => res.json())
      .then((resData) => {
        let total = 0;
        head.innerHTML += `
          <tr>
            <th>
              اسم الخامه
            </th>
            <th>
              سعر
            </th>
            <th>
              تاريخ
            </th>
          </tr>
        `;
        resData["data"].forEach((item) => {
          body.innerHTML += `
            <tr>
              <th>
                ${
                  item.NAMEMATRAIL
                    ? item.NAMEMATRAIL
                    : "انت حذفت هذه الخامه من قواعد البيانات"
                }
              </th>
              <th>
                ${item.PRICEMATRAIL}
              </th>
              <th>
                ${item.dateNow.split("T")[0]}
              </th>
            </tr>
          `;
          total += item.PRICEMATRAIL;
        });
        containerTotal.innerHTML = ` المبلغ الاجمالى = ${total} جنيه `;
      })
      .catch((error) => alert(error));
  }
  function toBase64(arr) {
    return btoa(
      arr.reduce((data, byte) => data + String.fromCharCode(byte), "")
    );
  }
  function resize(imgSRC) {
    console.log(imgSRC);
    document.getElementById("containerShowImg").style.display = "flex";
    document.getElementById("insertImg").src = imgSRC;
  }
  document.getElementById("ButtonCloseImg").addEventListener("click", () => {
    document.getElementById("containerShowImg").style.display = "none";
  });
</script>
