<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>yousef</title>
    <link rel="stylesheet" href="/views/css/app.css" />
    <style>
      * {
        direction: rtl;
        box-sizing: border-box;
      }
      body {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
      }
      .container {
        padding: 20px;
        width: 500px;
        height: fit-content;
        background-color: #eff2f5;
        border-radius: 10px;
        overflow: hidden;
      }
      .input {
        width: 60%;
        height: 20px;
      }
      .edit-btn {
        width: 100px;
        height: 40px;
        color: white;
        background-color: #36e7a9;
        border: 1px solid #36e7a9;
        border-radius: 8px;
        cursor: pointer;
      }
      .edit-btn:hover {
        background-color: #36e7a1b6;
        border: 1px solid #36e7a1b6;
      }
      .delete-btn {
        width: 100px;
        height: 40px;
        color: white;
        background-color: #f53f3f;
        border: 1px solid #f53f3f;
        border-radius: 8px;
        cursor: pointer;
      }
      .delete-btn:hover {
        background-color: #f53f31b6;
        border: 1px solid #f53f31b6;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>ازاله منتج من قاعده البيانات</h2>
      <p class="p1">الاسم : <%= out.Name %></p>
      <p class="p1">كميه : <%= out.Number %></p>
      <h2>ازاله</h2>
      <input
        type="submit"
        class="delete-btn"
        data-delete="<%= out._id %>"
        value="أزاله"
        name=""
        id=""
      />
    </div>

    <script>
      let container = document.querySelector(".delete-btn");

      container.addEventListener("click", (item) => {
        let elementId = document
          .querySelector(".delete-btn")
          .getAttribute("data-delete");

        fetch(`/deleteStorage2/${elementId}`, { method: "DELETE" })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.me))
          .catch((err) => {
            console.log(err);
          });
      });
    </script>
  </body>
</html>
