<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>yousef</title>
    <link rel="stylesheet" href="/views/css/app.css" />
    <link href="css/app.css" rel="stylesheet" />
    <style>
      * {
        direction: rtl;
        box-sizing: border-box;
      }
      body {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
      }
      .container {
        padding: 20px;
        width: 500px;
        height: fit-content;
        background-color: #eff2f5;
        border-radius: 10px;
        overflow: hidden;
      }
      .input {
        width: 60%;
        height: 20px;
      }
      .edit-btn {
        width: 100px;
        height: 40px;
        color: white;
        background-color: #36e7a9;
        border: 1px solid #36e7a9;
        border-radius: 8px;
        cursor: pointer;
      }
      .edit-btn:hover {
        background-color: #36e7a1b6;
        border: 1px solid #36e7a1b6;
      }
      .delete-btn {
        width: 100px;
        height: 40px;
        color: white;
        background-color: #f53f3f;
        border: 1px solid #f53f3f;
        border-radius: 8px;
        cursor: pointer;
      }
      .delete-btn:hover {
        background-color: #f53f31b6;
        border: 1px solid #f53f31b6;
      }
      .link-back {
        position: absolute;
        top: 0;
        left: 1%;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <a href="/order-page" class="link-back"> أرجع </a>
    <div class="container">
      <form
        action="/AddOrder"
        width="100%"
        height="100%"
        style="
          display: flex;
          justify-content: space-evenly;
          flex-direction: column;
        "
        method="POST"
      >
        <h5>الاسم :</h5>
        <input
          class="form-control form-control-lg"
          type="text"
          name="Name"
          id="Name"
          required
        />
        <br>
        <h5>كميه :</h5>
        <input
          class="form-control form-control-lg"
          type="text"
          id="amount"
          name="amount"
          required
        />
        <br />
        <h5>ماذا هو يريد :</h5>
        <select
          class="form-control form-control-lg"
          style="text-align: center"
          name="options"
          id="options"
          required
        >
        <option> 
          اختار
        </option>
        <% Data.forEach(function (item) { %>
          <% if (item.nameSetting == null) { %>

          <% } else { %>
            <option value="<%= item.price %>">
              <%= item.nameSetting %>
            </option>
           <% } %> 

        <% }); %>
          
        
        </select>
        <br />
        <h5>رقم التليفون :</h5>
        <input
          class="form-control form-control-lg"
          type="text"
          name="Number"
          id="Number"
          required
        />
        <br />
        <h5>وقت الطلب :</h5>
        <input
          class="form-control form-control-lg"
          type="text"
          placeholder="سنه/شهر/اليوم"
          name="TimeIn"
          id="TimeIn"
          required
        />
        <br />
        <h5>المبلغ</h5>
        <input
          class="form-control form-control-lg"
          type="number"
          name="money"
          id="money"
          required
        />
        <br />
        <input
          class="btn btn-lg btn-primary"
          type="submit"
          class="input2"
          value="ارسال"
          required
        />
      </form>
    </div>

    <script>
      let selected = document.getElementById("options");
      
      let amounted = document.getElementById("amount");
      
      selected.onmouseleave = function () {

        let inputMoney = document.getElementById("money");
        
        inputMoney.value = selected.value * amounted.value;

      };    
      let op = document.querySelector(".option");

      op.remove();
    </script>
  </body>
</html>
