<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="keywords"
      content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <title>Fady Syste,</title>
    <style>
      * {
        direction: rtl;
      }
    </style>

    <link href="css/app.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/yousef-start.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body style=" background-color: white">
    <div class="container-top-start">
        <h2>أبدأ</h2>
        <div class="container-counter">
          <div class="container-time">
            <div class="container">
              <div class="timerDisplay" style="left: 0;">00 : 00 : 00 : 000</div>
              <div class="buttons">
                <button id="pauseTimer">توقف</button>
                <button id="startTimer">أبدأ</button>
                <button id="resetTimer">أعاده</button>
              </div>
            </div>
          </div>

          <form action="addStart" method="post"> 
            <h5>كميه :  </h5>
            <input class="input1" name="amountStart" required />
            <br />
            <h5>الاسم : </h5> 
            <select  class="form-control form-control-lg" class="input1" required style="text-align:center" name="SelectStart" id="SelectStart">
              <option value="">اختار النوع </option>   
              <% Data.forEach(function (item) { %>
                <% if (item.nameSetting == null) { %>

                <% } else { %>
                  <option value="<%= item.price %>">
                    <%= item.nameSetting %>
                  </option>
                 <% } %> 

              <% }); %>
            </select>
            <br />
            <input type="submit" class="input2" value="ارسال" id="btn" />
          </form>
        </div>
      </div>
      <script src="./js/counter.js"></script>

    <script>
      // let btn = document.getElementById("btn");

      // btn.addEventListener("click" , () => {
      //   window.close()
      // });
    </script>
    </body>
</html>
